---
name: "AzOps - Push"

on:

  #
  # Push
  # Automated workflow trigger when a merge
  # commit enters the main branch.
  #

  push:
    branches:
      - main
    paths:
      - 'root/**'

env:

  #
  # Credentials
  #

  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_ENVIRONMENT: ${{ secrets.ARM_ENVIRONMENT }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  AZOPS_MODULE_VERSION: ${{ secrets.AZOPS_MODULE_VERSION }}

  #
  # modulesFolder
  # To enable caching of PowerShell modules between
  # runs, the modules are stored in a modules folder
  # that can be cached.
  #
  
  modulesFolder: "~/.local/share/powershell/Modules"

jobs:

  push:

    #
    # Push
    #

    name: "Push"
    runs-on: ubuntu-20.04

    steps:

      #
      # Checkout
      # Checks-out the repository
      #

      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      #
      # Shared steps
      # Include shared steps from the 'action.yml' file
      # to not have to repeat them in every pipeline.
      #

      - name: 'Shared steps'
        uses: ./.github/actions/sharedSteps

      #
      # Deploy
      # Deploy any templates changed in the last commit
      #
     
      - name: 'Deploy'
        with:
          deploy: true
          name: 'Deploy'
        uses: ./.github/actions/validate-deploy
