---
name: "AzOps - Push"

on:

  #
  # Push
  # Automated workflow trigger when a merge
  # commit enters the main branch.
  #

  push:
    branches:
      - main
    paths:
      - 'root/**'

env:

  #
  # Credentials
  #

  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

jobs:

  push:

    #
    # Push
    #

    name: "Push"
    runs-on: ubuntu-20.04

    steps:

      #
      # Checkout
      # Checks-out the repository
      #

      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      #
      # Dependencies
      # Install required runtime modules
      #

      - name: "Dependencies"
        run: |
          . .github/scripts/Install.ps1
          Install-SourceModule -Repository "SomilGanguly/AzOps" -Branch "rakss-Azops-ResourceDeletionTest"
          $module = Get-Module -Name AzOps -ListAvailable
          $data = Import-PowerShellDataFile -Path $module.Path
          foreach ($dependency in $data.RequiredModules) {
              Install-Module -Name $dependency.ModuleName -RequiredVersion $dependency.RequiredVersion -Force
          }
        shell: pwsh

      #
      # Connect
      # Authenticate Azure context
      #

      - name: "Connect"
        shell: pwsh
        run: |
          $credential = New-Object PSCredential -ArgumentList $env:ARM_CLIENT_ID, (ConvertTo-SecureString -String $env:ARM_CLIENT_SECRET -AsPlainText -Force)
          Connect-AzAccount -TenantId $env:ARM_TENANT_ID -ServicePrincipal -Credential $credential -SubscriptionId $env:ARM_SUBSCRIPTION_ID

      #
      # Diff
      # List index changes
      #

      - name: "Diff"
        shell: bash
        run: |
          echo $(git diff --name-status HEAD^ HEAD)
          git diff --name-status HEAD^ HEAD > /tmp/diff.txt
          if [ ! -z "$(git diff --diff-filter=D HEAD^ HEAD)" ]; then
            echo $(git diff --diff-filter=D HEAD^ HEAD  --no-prefix | grep ^- | sed -r "s/^([^-+ ]*)[-+ ]/\\1/" | less -r) 
            git diff --diff-filter=D HEAD^ HEAD --no-prefix | grep ^- | sed -r "s/^([^-+ ]*)[-+ ]/\\1/" | less -r > /tmp/diffdeletedfiles.txt
          fi

      #
      # Deploy
      # Initial deployment of any index changes
      #

      - name: "Deploy"
        shell: pwsh
        run: |
          Initialize-AzOpsEnvironment
          Import-PSFConfig -Path settings.json -Schema MetaJson
          $diff = Get-Content -Path /tmp/diff.txt
          $diffdeletedfiles = Get-Content -Path /tmp/diffdeletedfiles.txt
          $module = Get-Module -Name AzOps
          if(Test-Path -Path "/tmp/diffdeletedfiles.txt")
          {
            $diffdeletedfiles = Get-Content -Path /tmp/diffdeletedfiles.txt
            $module.Invoke({ Invoke-AzOpsPush -ChangeSet $diff -DeleteSetContents $diffdeletedfiles })
          }
          else{
            $module.Invoke({ Invoke-AzOpsPush -ChangeSet $diff })
          }
          Get-Job | Remove-Job -Force
