---
name: 'AzOps - Push'

on:

  #
  # Workflow Dispatch
  # This is to invoke this action from portal
  #

  workflow_dispatch:

  #
  # Pull Request
  # Automated workflow trigger when a pull request
  # is created within the repository.
  #

  pull_request:

env:
  strict_mode: false
  auto_merge: true

jobs:

  pre:

    #
    # Pre
    # - Before running the resource deployment,
    # - we need to validate the repository state
    # - is up to date and we won't encounter conflicts.
    #

    name: 'Pre'
    runs-on: ubuntu-20.04
    outputs:
      diff: ${{ steps.issue.outputs.state }}

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:

      #
      # Checkout
      # Checks-out the repository
      #

      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: main

      #
      # Dependencies
      # Install required runtime modules
      #

      - name: 'Dependencies'
        run: |
          $modules = @(
              @{ Name = "Az.Accounts"; Repository = "PSGallery"; RequiredVersion = "2.2.5" },
              @{ Name = "Az.Billing"; Repository = "PSGallery"; RequiredVersion = "2.0.0" },
              @{ Name = "Az.Resources"; Repository = "PSGallery"; RequiredVersion = "3.2.1" },
              @{ Name = "PSFramework"; Repository = "PSGallery"; RequiredVersion = "1.6.181" },
              @{ Name = "AzOps"; Repository = "PSGallery"; AllowPrerelease = $true }
          )
          $modules | ForEach-Object {
              $module = $_
              Install-Module @module -Force -Verbose
          }
        shell: pwsh
        if: env.strict_mode == 'true'

      #
      # Connect
      # Authenticate Azure context
      #

      - name: 'Connect'
        run: |
          $credential = New-Object PSCredential -ArgumentList $env:ARM_CLIENT_ID, (ConvertTo-SecureString -String $env:ARM_CLIENT_SECRET -AsPlainText -Force)
          Connect-AzAccount -TenantId $env:ARM_TENANT_ID -ServicePrincipal -Credential $credential -SubscriptionId $env:ARM_SUBSCRIPTION_ID
        shell: pwsh
        if: env.strict_mode == 'true'

      #
      # Initialize
      # Generate new state data
      #

      - name: 'Initialize'
        run: |
          Import-PSFConfig -Path settings.json -Schema MetaJson
          Initialize-AzOpsRepository -Rebuild
          Get-Job | Remove-Job -Force
        shell: pwsh
        if: env.strict_mode == 'true'

      #
      # Issue
      # Write issue and stop workflow
      #

      - name: 'Issue'
        id: issue
        run: |
          DIFF=$(git diff --ignore-space-at-eol --name-status)
          echo $DIFF
          if [ -n "$DIFF" ]
          then
            echo "::set-output name=state::stop"
            gh pr comment ${{ github.event.pull_request.number }} --body "Job blocked...."
          else
            echo "::set-output name=state::continue"
          fi
        shell: bash

  push:

    #
    # Push
    # - Before running the resource deployment,
    # - we need to validate the repository state
    # - is up to date and we won't encounter conflicts.
    #

    name: 'Push'
    runs-on: ubuntu-20.04
    needs: pre
    if: needs.pre.outputs.diff == 'continue'

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

    steps:

      #
      # Checkout
      # Checks-out the repository
      #

      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      #
      # Dependencies
      # Install required runtime modules
      #

      - name: 'Dependencies'
        run: |
          $modules = @(
              @{ Name = "Az.Accounts"; Repository = "PSGallery"; RequiredVersion = "2.2.5" },
              @{ Name = "Az.Billing"; Repository = "PSGallery"; RequiredVersion = "2.0.0" },
              @{ Name = "Az.Resources"; Repository = "PSGallery"; RequiredVersion = "3.2.1" },
              @{ Name = "PSFramework"; Repository = "PSGallery"; RequiredVersion = "1.6.181" },
              @{ Name = "AzOps"; Repository = "PSGallery"; AllowPrerelease = $true }
          )
          $modules | ForEach-Object {
              $module = $_
              Install-Module @module -Force -Verbose
          }
        shell: pwsh

      #
      # Connect
      # Authenticate Azure context
      #

      - name: 'Connect'
        run: |
          $credential = New-Object PSCredential -ArgumentList $env:ARM_CLIENT_ID, (ConvertTo-SecureString -String $env:ARM_CLIENT_SECRET -AsPlainText -Force)
          Connect-AzAccount -TenantId $env:ARM_TENANT_ID -ServicePrincipal -Credential $credential -SubscriptionId $env:ARM_SUBSCRIPTION_ID
        shell: pwsh

      #
      # Diff
      # List index changes
      #

      - name: 'Diff'
        id: diff
        run: |
          echo $(git diff origin/main --name-status)
          git diff origin/main --name-status > /tmp/diff.txt
        shell: bash

      #
      # Deploy
      # Initial deployment of any index changes
      #

      - name: 'Deploy'
        run: |
          Initialize-AzOpsEnvironment
          Import-PSFConfig -Path settings.json -Schema MetaJson
          $diff = Get-Content -Path /tmp/diff.txt
          $module = Get-Module -Name AzOps
          $module.Invoke({ Invoke-AzOpsChange -ChangeSet $diff })
          Get-Job | Remove-Job -Force
        shell: pwsh

  post:

    #
    # Post
    # - Before running the resource deployment,
    # - we need to validate the repository state
    # - is up to date and we won't encounter conflicts.
    #

    name: 'Post'
    runs-on: ubuntu-20.04
    needs: push
    if: needs.pre.outputs.diff == 'continue'

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:

      #
      # Checkout
      # Checks-out the repository
      #

      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      #
      # Configure
      # Set global options
      #

      - name: 'Configure'
        run: |
          git config user.name github-actions
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
        shell: bash

      #
      # Switch
      # Change working branch
      #

      - name: 'Switch'
        run: |
          git switch -c ${{ github.head_ref }}
        shell: bash

      #
      # Dependencies
      # Install required runtime modules
      #

      - name: 'Dependencies'
        run: |
          $modules = @(
              @{ Name = "Az.Accounts"; Repository = "PSGallery"; RequiredVersion = "2.2.5" },
              @{ Name = "Az.Billing"; Repository = "PSGallery"; RequiredVersion = "2.0.0" },
              @{ Name = "Az.Resources"; Repository = "PSGallery"; RequiredVersion = "3.2.1" },
              @{ Name = "PSFramework"; Repository = "PSGallery"; RequiredVersion = "1.6.181" },
              @{ Name = "AzOps"; Repository = "PSGallery"; AllowPrerelease = $true }
          )
          $modules | ForEach-Object {
              $module = $_
              Install-Module @module -Force -Verbose
          }
        shell: pwsh

      #
      # Connect
      # Authenticate Azure context
      #

      - name: 'Connect'
        run: |
          $credential = New-Object PSCredential -ArgumentList $env:ARM_CLIENT_ID, (ConvertTo-SecureString -String $env:ARM_CLIENT_SECRET -AsPlainText -Force)
          Connect-AzAccount -TenantId $env:ARM_TENANT_ID -ServicePrincipal -Credential $credential -SubscriptionId $env:ARM_SUBSCRIPTION_ID
        shell: pwsh

      #
      # Initialize
      # Generate new state data
      #

      - name: 'Initialize'
        run: |
          Import-PSFConfig -Path settings.json -Schema MetaJson
          Initialize-AzOpsRepository -Rebuild
          Get-Job | Remove-Job -Force
        shell: pwsh

      #
      # Add
      # Add file content to index
      #

      - name: 'Add'
        run: |
          git add ./azops
          git status --short
        shell: bash

      #
      # Commit
      # Record changes to the repository
      #

      - name: 'Commit'
        run: |
          git commit -m "Automated commit"
        shell: bash

      #
      # Push
      # Update remote refs along with associated objects
      #

      - name: 'Push'
        run: |
          git push origin ${{ github.head_ref }}
        shell: bash

      #
      # Merge
      # Automatically merge the Pull Request into base
      #

      - name: 'Merge'
        run: |
          gh pr merge ${{ github.event.pull_request.head.ref }} --squash --delete-branch
        shell: bash
        if: env.auto_merge == 'true'
